@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

body.purple * {
  --ui_bg_color: hsla(308, 60%, 20%, 0.95);
  --ui_fg_color: hsla(308, 60%, 80%, 0.95);
  --ui_editor_fg_color: hsla(308, 60%, 80%, 0.95);
  --ui_editor_bg_color: hsl(308, 46%, 37%, 0.55);
  --ui_outline: hsla(308, 60%, 90%, 0.95);
  --ui_border_color: hsl(308deg 45% 35% / 91%);
  --ui_button_color: hsl(308deg 67% 33% / 53%);
}
body.sat * {
  --ui_bg_color: hsl(174deg 4% 46%);
  --ui_fg_color: hsl(308deg 21% 91% / 95%);
  --ui_editor_fg_color: hsl(0deg 0% 94% / 95%);
  --ui_editor_bg_color: hsl(0deg 0% 60% / 63%);
  --ui_outline: hsl(0deg 0% 45% / 36%);
  --ui_border_color: hsl(308deg 1% 29% / 91%);
  --ui_button_color: hsl(308deg 12% 14% / 53%);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.github-corner {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

* {
  transition: height ease-in-out 100ms, opacity ease-in-out 100ms,
    transform ease-in-out 100ms;
  font-family: 'Space Mono', monospace;
  color: var(--ui_fg_color);
  outline-color: var(--ui_outline);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
}
#msgBox {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: anywhere;
}

.hide {
  pointer-events: 'none';
  transform: scale(0);
  opacity: 0;
}

.show {
  pointer-events: 'auto';
  transform: scale(1);
  opacity: 1;
}

.btns {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-grow: 0;
}

#btns-ctrl {
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-circle {
  margin: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: var(--ui_fg_color);
  border: 1px solid var(--ui_border_color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ui_button_color);
}
.btn-circle:hover {
  transform: scale(1.1);
}
.btn-circle.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

#btnPlay.btn-circle:not(.paused) > i.fa-play {
  display: none;
}

#btnPlay.btn-circle.paused > i.fa-pause {
  display: none;
}

#btnRecord.btn-circle:not(.stopped) > i.fa-video {
  display: none;
}

#btnRecord.btn-circle.stopped > i.fa-stop {
  display: none;
}


.panel {
  position: absolute;
  top: 0px;
  bottom: 50%;
  left: 0px;
  width: 50%;
  height: 20%;
  margin: 30px;
  max-height: 600px;
  max-width: 500px;
  border-radius: 10px;
  background-color: var(--ui_bg_color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  resize: both;
  opacity: 0.5;
  overflow: hidden;
}

.panel:hover {
  opacity: 1;
  height: 40%;
}

.panel .code {
  background-color: var(--ui_editor_bg_color);
  border: none;
  border-radius: 3px;
  color: var(--ui_editor_fg_color);
  font-family: 'Space Mono', monospace;
  margin: 5px;
  resize: none;
  flex-grow: 1;
}

.panel .code:active {
}

.panel .editor-container {
  display: flex;
  flex-grow: 1;
}

.panel .editor-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.form-group select {
  background: var(--ui_button_color);
  color: var(--ui_fg_color);
  border-color: var(--ui_border_color);
  padding: 5px;
}

/**
* Components
*/
.am .mapboxgl-ctrl-logo {
  filter: opacity(0.5);
}
.am .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: var(--ui_border_color);
}
